<!DOCTYPE html>
<html>
<head>
<title>Age Estimation</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../static/styles/style.css">
<link rel="stylesheet" href="../static/styles/aj.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<!-- First Parallax Image with Logo Text -->
<div class="bgimg aj-display-container aj-opacity-min" id="home">
  <div class="aj-display-middle" style="white-space:nowrap;">
    <span class="aj-center aj-padding-large aj-black aj-xlarge aj-wide aj-animate-opacity">Age<span class="aj-hide-small"> Estimation</span> Model</span>
  </div>
</div>
<br><br><br>
<div class="action-wrap">
  <div class="action-html">
    <input id="tab-2" type="radio" name="tab" class="photo" checked><label for="tab-2" class="tab">Photo</label>
    <div class="action-form">
      <div class="photo-htm">
        <form action="/upload" method="POST" enctype="multipart/form-data" style="color: hwb(120 98% 0%)">
          <br><br>Select image to upload:<br><br><br>
          <input type="file" name="fileToUpload" id="fileToUpload">
          <br><br><br><br>
          <div class="group">
            <input type="submit" class="button" value="Upload and detect" name="submit">
          </div>
        </form>
        <div class="warning" style="text-align: center;"> <!-- Center-align the warning message -->
          {% if no_image_warning %}
            {{ no_image_warning }}
          {% endif %}
          {% if face_detection_warning %}
            {{ face_detection_warning }}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Container (About Section) -->
<div class="aj-content aj-container aj-padding-64" id="about">
  <h3 class="aj-center">ABOUT THE PROJECT</h3>
  <p>We utilized a sophisticated stacked ensemble that fuses the predictive abilities of two CNN models, each derived from the VGG Net and Google Net architectures. This system excels in accurately estimating the age of provided images. Our approach strategically leverages the inherent strengths of these renowned architectures, substantially elevating the precision and dependability of age prediction.</p>
  <p> At the heart of this project lies the core objective of deploying our advanced ensemble model. Its purpose is to predict the age group of individuals depicted within single images.</p>
  <h3 class="aj-center">UI Features</h3>
  <ul>
    <li><strong>Single Face Estimation:</strong> The age estimation UI is designed to estimate the age of a single face in an uploaded image.</li>
    <li><strong>Notification of Face Detection:</strong> Feedback is provided indicating whether no face was detected or if multiple faces were detected.</li>
    <li><strong>Upload Alert:</strong> If the "upload" button is clicked without an image being uploaded, an appropriate message will be displayed.</li>
    <li><strong>Estimated Age Ranges:</strong> Presents an estimated age range based on the detected face, categorized into different groups.</li>
    <li><strong>Entry Permission:</strong> Determines and indicates whether the person is permitted to enter based on their age group.</li>
  </ul>
</div>

<!-- Footer -->
<footer class="aj-center aj-black aj-padding-64 aj-opacity aj-hover-opacity-off">
  <a href="#home" class="aj-button aj-light-grey"><i class="fa fa-arrow-up aj-margin-right"></i>Back to the top</a>
</footer>

<script>
// Modal Image Gallery
function onClick(element) {
  document.getElementById("img01").src = element.src;
  document.getElementById("modal01").style.display = "block";
  var captionText = document.getElementById("caption");
  captionText.innerHTML = element.alt;
}
</script>

</body>
</html>
